/* div{
    background: rgb(255, 132, 132);
    color:red ;

}
#test{
    border: 1px solid green;
    width: 10px;
    height: 3em;
}
*{
    margin: 0;
}
div span{
color: yellow;
}
.class1 .class2{
    background-color: pink;
    width: 50px;
    height: 4rem;
}
.class3 >.class4{
    color: blue;
}
.parent1 +.parent2{
    font-size: 33px;
}
.fontx22{
    font-size: 22px;
}
.div1{
    color: green;
    text-decoration: underline;
}
.div2{
    color: rgb(17, 0, 255);
}
. */
.div1.div2{
    color: red;
}
.divBox{
    height: 100px;
    width: 150px;
    background: black;
}
.divBox:hover{
    background: gray;
    height: 300px;
    width: 450px;
}
a:active{
    transition: all 0.3s ease;
    font-size: 40px;
}
